<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>高大上的留言系统首页</title>
</head>
<body>
<form action="Submit/" method="post">
    {% csrf_token %}
    用户名：<input type="text" name="user"><br>
    密码： <input type="text" name="password"><br>
<!--    确定密码： <input type="text" name="VerifyPassword"><br>-->
    邮箱： <input type="text" name="mail"><br>
    电话： <input type="text" name="phone"><br>
    <input type="submit" value="提交">
</form>
<!--<h5>{{reminder}}</h5>-->
</body>
</html>
